.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    padding: 0%;
    width: 100%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }